//colors

@font-color: @shark;
@font-secondary: @silver;
@bg-color: @white;
@accent-color: @neon;

//color assignments

@shark: #222;
@silver: #999;
@white: #FFFFFF;
@neon: #50b927ea;

//break-points

@phone: ~"(max-width: 500px)";
@tablet: ~"(max-width: 920px)";