.cards {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    @media @tablet {
        justify-content: center;
    }

    @media @phone {
        flex-direction: column;
    }


    &--features {
        display:flex;
        flex-basis: 30%;
        margin-top: 40px;
    }
}

.card {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    border-bottom: 1px solid @font-secondary;
    flex-basis: 30%;
    margin-right: 30px;

    @media @phone {
        flex-basis: 100%
    }

    &__i {
        color: @shark;
        margin-left: 10px;

        &:hover {
            color: @font-secondary
        }
        
    }

    &__div, &__span {
        // width: 70px;

        &.text-container {
            font-size: 3rem;
            text-decoration: none;

            &--small{
                color: @font-secondary;
                font-size: 2rem;
                font-family: @accent-font;
                letter-spacing: 2px
            }
        }
    }

    &__img{
        width: 60px;
        border-radius: 100px;
    }

    &--features {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-left: 1px double rgba(10,10,10,0.1);
        box-shadow: 2px 2px 3px rgba(50,50,50,0.2);
        padding: 2rem;

        &__h1, &__h2, &__h3, &__h4, &__h5, &__h6, &__p {
            color: @shark;
            margin: 0;
            padding: .5rem 1rem;
        }

        &__i {
            font-size: 4rem;
        }
    }
}