.footer {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    color: @white;
    background-color: @shark;
    margin-top: 50px;
    position: sticky;
    padding: 1rem 2rem;
    height: 100px;

    &__span {
        margin: 0;
        padding: 0;
        font-size: 1.5rem;
    }
    
    &__p {
        padding: 0;
        margin: 0;
    }

    &__i {
        margin: 0;
        font-size: 4rem;
        padding: 0;
    }
    
}