.footer{
    display: flex;
    justify-content: space-around;
    color: @white;
    background-color: @shark;
    margin-top: 50px;


    &__contact{
        font-size: 1.5rem;
    }

    &__social-media{
        padding-top: 3px;
        font-size: 4rem;
    }

}