.main-header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;

    &__nav {
        display: inline-flex;
        justify-content: flex-end;
        flex-basis: 33%;
    }

    &__a {
        .nav-item();

        &:hover {
            color: @shark;
        }

        &--strikethrough {
            .nav-item();
            text-decoration: line-through;
        }
        
    }


    &__img {
        // flex-basis: 33%;
    }
}
